{% extends 'base.html.twig' %}

{% block title %}Itération du processus{% endblock %}
{% block body %}
    {{ include('psyche/nav.html.twig') }}

    <a href="{{ path('app_step2') }}">
        <button type="button" class="btn btn-light text-dark mx-5 my-4">
            <i class="fa-solid fa-arrow-left px-3 py-2"></i>
            Retour</button>
    </a>
    <div>
    <div class="pt-4 px-5">
        <div class="progress">
            <div class="progress-bar bg-dark" role="progressbar" style="width:99%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <p class="px-5 pt-4 fw-bold text-lg-start">Etape 3</p>
    <h1 class="px-5">Itération du processus</h1>
    <p class="px-5">Indiquez l'itération correspondante au processus</p>

{% endblock %}